body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.title-name{
    color: orange;
}
#top-banner{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 80%;
}
.hire-me-btn{
    text-decoration: none;
    background-image: linear-gradient(#CB356B, #BD3F32);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}



#dream-big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}